body{
    text-align: center;
    font-family: Arial;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255)

}
img{
    border-radius: 10px;
    transition: 0.3s;
}
button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}